.nav {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: flex-end;
    top:10%;
    left:63%;
   list-style: none;
     padding: 10px; 
     
}
.slot-games{
    background-color:#1c1b26;
    width: 93%;  
}
.active:visited {
    color: #c93e3a; 
 }